<nav>
  <div class="site-title">
    <a href="/"><h1>Интересные заметки</h1></a>
    <p>NodeJS, Express, MongoDB, Mongoose</p>
  </div>
  <ul>
    <li><a href="/">Все записи</a></li>
    <li><a href="/about">О блоге</a></li>
    <li><a href="/blogs/create">Новая запись</a></li>
  </ul>
</nav>