<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>О блоге</h2>
    <p>Интересные заметки.</p>
    <p>Можете свободно добавить свои.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>